/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	max-width: 1440px;
	margin: auto;
	overflow: hidden;
}

/* --------------- CSS for nav bar -------------- */
section {
	width: 75vw;
	margin: auto;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 160px;
}

nav div img {
	height: 2.5rem;
}

.grow-list {
	flex-grow: 1;
}

ul {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 65px;
	font-size: 15px;
}

li {
	list-style: none;
	margin-right: 42px;
	color: #cad5e2;
}

li:first-child {
	color: #000000;
	font-weight: 400;
}

.button-group .nav-button {
	padding: 10px;
	width: 130px;
	height: 45px;
	margin-right: 100px;
	background-color: #5955b3;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	font-weight: 500;
	letter-spacing: 0.75px;
}
/* ---------------------------------------------- */

/* -------------- Banner Section ---------------- */
.banner-container {
	display: flex;
	margin-top: 40px;
}

.banner-container div h1 {
	font-size: 55px;
	width: 30vw;
	line-height: 65px;
	color: #3c2f60;
	font-weight: 600;
}

span {
	color: #5955b3;
}

p {
	width: 22vw;
	margin: 25px 0;
	font-size: 14px;
	line-height: 20px;
	color: #949494;
}

.banner-container:last-child {
	position: relative;
}

.banner-container div img {
	position: absolute;
	height: 70vh;
	top: -60px;
	right: 0;
	bottom: 100px;
}

.btn {
	margin-top: 30px;
	padding: 10px;
	width: 200px;
	height: 60px;
	font-weight: 500;
	background-color: #5955b3;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	letter-spacing: 0.75px;
}
